<canvas class="canvas" id="canvas" width="{{myWidth}}" height="{{myHeight}}"></canvas>
<div class="dashboard" >
	
	<div class="drop-icon top-left droppable {{preparedClass}}" ng-class="{'active': currentOver == 'tl'}">
		
	</div>
	<div class="drop-icon top-right droppable {{preparedClass}}" ng-class="{'active': currentOver == 'tr'}">
		
	</div>
	<div class="drop-icon bottom-left droppable {{preparedClass}}" ng-class="{'active': currentOver == 'bl'}">
		
	</div>
	<div class="drop-icon bottom-right droppable {{preparedClass}}" ng-class="{'active': currentOver == 'br'}">
		
	</div>
</div>