
<ion-view class="home">
	<div class="content">
		<h1 class="title">Meet Up</h1>
		<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Username</span>
		    <input type="text" placeholder="Username">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Password</span>
		    <input type="text" placeholder="Password">
		  </label>
		</div>
		<div class="buttons">
			<button class="button button-outline button-light">
	  		Register
			</button>
			<a ui-sref="tab.dash">
			<button class="button button-outline button-light">
	  		Log In
			</button></a>
		</div>
	</div>
</ion-view>