<ion-view title="Meet up">
	<div class="dashboard">
		<div class="drag-icon">
			<i class="ion-happy draggable"></i>
		</div>
		<div class="drop-icon top-left droppable">
			<i class="ion-ios7-person"></i>
		</div>
		<div class="drop-icon top-right droppable">
			<i class="ion-ios7-people"></i>
		</div>
		<div class="drop-icon bottom-left droppable">
			<i class="ion-radio-waves"></i>
		</div>
		<div class="drop-icon bottom-right droppable-settings">
			<i class="ion-ios7-settings-strong"></i>
		</div>
	</div>
</ion-view>

