<ion-view title="What type of event are you planning?">
	<ion-content class="padding">
  	

	<div class="content has-header padding">
	      <p>
	        </p><div class="button-bar bar-dark">
	    	<a class="button"><i class="icon ion-help"></i></a>
	        <a class="button"><i class="icon ion-home"></i></a>
	        <a class="button"><i class="icon ion-flag"></i></a>
	    </div>
	      <p></p>
	      <p>
	        </p><div class="button-bar bar-dark">
	    	<a class="button"><i class="icon ion-edit"></i></a>
	        <a class="button"><i class="icon ion-hammer"></i></a>
	        <a class="button"><i class="icon ion-wrench"></i></a>
	        </div>
	      <p></p>
	      <p>
	        </p><div class="button-bar bar-dark">
	    	<a class="button"><i class="ion-paper-airplane"></i></a>
	        <a class="button"><i class="icon ion-medkit"></i></a>
	        <a class="button"><i class="icon ion-cloud"></i></a>
	        </div>
	      <p></p>
	      <p>
	        </p><div class="button-bar bar-dark">
	    	<a class="button"><i class="icon ion-fork"></i></a>
	        <a class="button"><i class="icon ion-spoon"></i></a>
	        <a class="button"><i class="icon ion-knife"></i></a>
	        </div>
	      <p></p>
	      <p>
	        </p><div class="button-bar bar-dark">
	    	<a class="button"><i class="icon ion-beer"></i></a>
	        <a class="button"><i class="icon ion-wineglass"></i></a>
	        <a class="button"><i class="icon ion-coffee"></i></a>
	        </div>
	      <p></p>
	      <p>
	        </p><div class="button-bar bar-dark">
	    	<a class="button"><i class="icon ion-icecream"></i></a>
	        <a class="button"><i class="icon ion-pizza"></i></a>
	        <a class="button"><i class="icon ion-wand"></i></a>
	        </div>
	      <p></p>
	      <p>
	        </p><div class="button-bar bar-dark">
	    	<a class="button"><i class="icon ion-mouse"></i></a>
	        <a class="button"><i class="icon ion-monitor"></i></a>
	        <a class="button"><i class="icon ion-ipod"></i></a>
	        </div>
	      <p></p>
	      <p>
	        </p><div class="button-bar bar-dark">
	    	<a class="button"><i class="icon ion-bug"></i></a>
	        <a class="button"><i class="icon ion-playstation"></i></a>
	        <a class="button"><i class="icon ion-xbox"></i></a>
	        </div>
	      <p></p>
	      <p>
	        </p><div class="button-bar bar-dark">
	    	<a class="button"><i class="icon ion-mic-c"></i></a>
	        <a class="button"><i class="icon ion-music-note"></i></a>
	        <a class="button"><i class="icon ion-umbrella"></i></a>
	        </div>
	      <p></p>
	    </div>

	</ion-content>
</ion-view>
