<ion-view title="Settings">
  <ion-content class="padding">
  	<div class="item-card-list">
	  	<div class="item-list-container">
			<a href="#" class="item item-icon-right">
		  		<i class="icon ion-person-add"></i>
		  		Add Friends
			</a>
		</div>
	</div>
	<div class="item-card-list">
	  	<div class="item-list-container">
			<a href="#" class="item item-icon-right">
		  		<i class="icon ion-person-stalker"></i>
		  		New Friend's List
			</a>
		</div>
	</div>
	<div class="item-card-list">
	  	<div class="item-list-container">
			<a href="#" class="item item-icon-right">
		  		<i class="icon ion-calendar"></i>
		  		Calendar Configuration
			</a>
		</div>
	</div>
  </ion-content>
</ion-view>
