<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<link href="css/style.css" rel="stylesheet">
<ion-side-menus ng-controller="NowCtrl">
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
     <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>

  </ion-pane>

  <ion-side-menu  width="widthMenu" side="left" class="left-menu" ng-swipe-left="alert('a');">

    <header class="bar bar-header bar-dark">
      <h1 class="title">Perfil</h1>
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear>
          <i class="icon ion-social-google"></i>Google Account
          <ul class="user-account-data">
            <img src="{{user.picture}}" alt="image-profile" height="100px" width="100px">
            <li style="border-top:none;">{{user.name}}</li>
            <li>{{user.email}}</li>
            <li></li>
            <li></li>
          </ul>
        </ion-item>
        <ion-item nav-clear ng-click="">
          
          <label class="item item-input">
            <span class="input-label"><i class="icon ion-social-facebook"></i> User: </span>
            <input type="text" placeholder="facebook-account"/>
          </label>
        </ion-item>
        <ion-item nav-clear ng-click="">          
          <label class="item item-input">
            <span class="input-label"><i class="icon ion-social-twitter"></i> User: </span>
            <input type="text" placeholder="@twitter-name"/>
          </label>
        </ion-item>
        <ion-item nav-clear ng-click="">
          <fb:login-button scope="public_profile,email,user_friends,user_location" onlogin="checkLoginState();">
          </fb:login-button>

          <div id="status">
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

