<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<link href="css/style.css" rel="stylesheet">
<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-tabs class="tabs-icon-top">


      <!-- Dashboard Tab -->
      <ion-tab title="Dashboard" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
      </ion-tab>


      <!-- Settings Tab -->
      <ion-tab title="Settings" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
      </ion-tab>


      <!-- Friends Tab -->
      <ion-tab title="Friends" icon="icon ion-heart" href="#/tab/friends">
        <ion-nav-view name="tab-friends"></ion-nav-view>
      </ion-tab>


      <!-- CreateEvent Tab -->
      <ion-tab title="CreateEvent" icon="icon ion-ios7-calendar-outline" href="#/tab/createevent">
        <ion-nav-view name="tab-createevent"></ion-nav-view>
      </ion-tab>

      <!-- Account Tab -->
      <ion-tab title="Now" icon="icon ion-gear-b" href="#/tab/now">
        <ion-nav-view name="tab-now"></ion-nav-view>
      </ion-tab>

      <!-- Account Tab -->
      <ion-tab title="My Calendar" icon="icon ion-ios7-calendar-outline" href="#/tab/mycalendar">
        <ion-nav-view name="tab-mycalendar"></ion-nav-view>
      </ion-tab>

    </ion-tabs>

  </ion-pane>

  <ion-side-menu  width="widthMenu" side="left" class="left-menu">

    <header class="bar bar-header bar-dark">
      <h1 class="title">Perfil</h1>
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear ng-click="onClickLogin($event)">
          <i class="icon ion-social-google"></i>Google Account
          <ul class="user-account-data" ng-show="user.google.length > 0">
            <li ng-repeat="data in user.google">
              {{data}}
            </li>
          </ul>
        </ion-item>
        <ion-item nav-clear ng-click="">
          <i class="icon ion-social-facebook"></i>Facebook
        </ion-item>
        <ion-item nav-clear ng-click="">
          <i class="icon ion-social-twitter"></i>Twitter
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

