/* ~*~ ~*~ ~~ ~*~ ~*~ */
/*     DASHBOARD      */
/* ~*~ ~*~ ~~ ~*~ ~*~ */
 
* {
	box-sizing: border-box; 
}
.dashboard {
	width: 100%;
	height: 100%;
}
.dashboard .drag-icon {
	position: absolute;
	top: 50%;
	right: 40%; 
}
.dashboard .drag-icon  {
    font-size: 70px;
	color: teal;
	z-index: 99;
}
$triangle-size:			200px;

.dashboard {
	.drop-icon {
		position: absolute; 
		width: $triangle-size;
		height: $triangle-size;
		opacity: 0;
		@include transition(all 0.5s linear);
		&.prepared {
			opacity: 1;
			@include transition(all  0.5s linear);
		}
		&.active {
			background-color: white;
		}
	}
	.top-left {	
		left: -$triangle-size / 2;
		top: -$triangle-size / 2;
		background-color: $top-left-t;
		&.prepared {
			@include rotate(-45deg);
		}
	}
	.top-right {
		right: -$triangle-size / 2;
		top: -$triangle-size / 2;
		background-color: $top-right-t;
		&.prepared {
			@include rotate(45deg);
		}
	}
	.bottom-left {
		bottom: -$triangle-size / 2;
		left: -$triangle-size / 2;
		background-color: $bottom-left-t;
		&.prepared {
			@include rotate(-45deg);
		}
	}
	.bottom-right {
		bottom: -$triangle-size / 2;
		right: -$triangle-size / 2;
		background-color: $bottom-right-t;
		&.prepared {
			@include rotate(45deg);
		}
	}
}

.canvas {
	position: absolute;
	z-index: 99;
}